In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('sampleDF.xlsx')

In [6]:
df.head()

,Unnamed: 0,x,y,z,k,a,b,c,label,time
0,0,8.290045,1.273656,3.261302,5.163925,0.851865,0.002312,0.000000,-1,2011-12-27
1,1,8.347572,1.310820,3.262862,5.111578,0.022145,0.000000,0.004673,-1,2011-12-28
2,2,8.390349,1.226544,3.124048,5.165620,-0.491732,-0.006953,-0.009368,-1,2011-12-29
3,3,8.419984,1.274693,3.114489,5.095314,0.026992,0.045462,0.011696,-1,2011-12-30
4,4,8.513406,1.320493,3.049237,4.984629,0.438737,0.000000,-0.021152,-1,2011-12-31